@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '~bulma/bulma.sass';

html,
body {
  text-align: center;
  min-height: 100vh;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}
